/*longue feuille de style, mais triée :
- scrollbar
- couleurs
- textes
- animations
- blocs
- sections de données
- responsive
*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none !important;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    scrollbar-width: none !important;
    background-color: rgb(17, 17, 17);
    color: white;
}

article {
    transition: 0.5s ease;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #11191d;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #48CAE4;
    border-radius: 10px;
}

:root {
    scrollbar-width: none !important;
}

.scroll {
    scroll-snap-align: start;
}

/*text*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
}

h5 {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

b {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

ul {
    list-style: none;
    line-height: 2rem;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding-left: 0;
}

.about p {
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.2em;
}

.blue {
    display: inline;
    color: #48CAE4;
    font-size: 3.5rem;
}

.white {
    display: inline;
}

/* links */

a {
    font-family: 'work sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}



/* blocks */

header {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img {
    max-width: 80%;
}

header div {
    margin-top: 3rem;
}

header img {
    animation: floating 6s ease-in-out 0s infinite;
}

@keyframes floating {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

section {
    height: 100vh;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section footer {
    height: 15vh;
}

footer {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15vh;
    gap: 4rem;
    position: relative;
}

footer div {
    display: flex;
    margin-bottom: 1rem;
}

footer div .credit-dataviz {
position: absolute;
left: 0;
}

footer div label {
    position: absolute;
    right: 0;
    cursor: pointer;
}

footer div label:hover {
    color: #48CAE4;
}

article h3 {
    display: inline;
}

article p {
    padding-top: 2rem;
}

.presentation {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.presentation img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.presentation article {
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.header {
    background: linear-gradient(180deg, #353535 0%, #202020 73.23%);
}

.about {
    background: linear-gradient(180deg, #212121 0%, #121212 100%);
}

.disco-damso {
    background: linear-gradient(180deg, #131313 11.98%, #121212 76.56%);
}

.data-charts {
    background: linear-gradient(180deg, #363636 13.02%, #1E1E1E 60.33%);
}




/* recap damso */

.lead {
    width: 540px;
}

.lead p {
    text-align: justify;
    line-height: 1.5rem;
}

.lead2 p {
    text-align: justify;
}

.lead3 p {
    text-align: justify;
    font-size: 1rem;
}

.info {
    /* height: 110px; */
    display: flex;
    justify-content: space-around;

}

.lead3 {
    display: flex;
    height: 110px;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: auto;
    width: 100%;
    height: 100%;
}

.projets {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
}

.card {
    width: 100%;
    height: auto;
    background-color: #242424;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.card-body {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
}

.card-img-top {
    width: auto;
    height: 100%;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.card .btn {
    background-color: #48cae4;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    color: #0a061d;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
    border: solid 3px #48cae4;
}

.btn:hover {
    background: transparent;
    border: solid 3px #48cae4;
    transition: .5s ease;
    color: whitesmoke;
}

.start {
    background-color: #48cae4;
    text-transform: uppercase;
    color: #0a061d;
    padding: 8px 30px;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: 0.5s ease;
    border: solid 3px #48cae4;
}

.btn-projets {
    background-color: #303030;
    color: #ffffff;
    width: 100px;
    padding: 8px 10px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    transition: 0.2s ease;
}

/* chart section */

.charts-title {
    padding-bottom: 3rem;
    ;
}


/* map section */

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.wrapper article {
    width: 50%;
}

.article-line {
    border-left: #48CAE4 solid 5px;
}

.article-line article {
    margin-left: 2rem;
}

/* podium section */

.podium-title {
    padding-bottom: 3rem;
    ;
}


/* Style pour la carte SVG a choisir */
#europeanMap {
    width: 90%;
    height: auto;
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

#europeanMap svg {
    width: 100%;
}

path {
    stroke-width: 10px;
    stroke: transparent;
}

/* Style pour les tooltips */
.tooltip {
    position: absolute;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
}



/* podium auditeurs */

#myChart {
    width: 100% !important;
    margin: 0 auto;
    max-height: 60vh;
}


#auditeursChart {
    max-height: 60vh;
    width: 100% !important;
}

/* popup mentions légales */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-trigger {
    display: none;
}

.popup-trigger:checked + .popup {
    display: flex;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333;
}



@media screen and (max-width:900px) {
    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    h6,
    p {
        font-size: 0.8rem;
    }

    section {
        min-height: 100vh;
        height: auto;
        flex-direction: column;
    }

    .info {
        margin-bottom: 1rem;
    }

    .row,
    .info {
        flex-direction: column;
        height: 100%;
        gap: 1rem;
    }

    .wrapper {
        flex-direction: column;
        width: 100%;
    }

    .wrapper article {
        width: 100%;
    }

    #europeanMap {
        width: 100%;
    }

    footer {
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        height: 100%;
    }

    footer article,
    footer div {
        width: 100% !important;
    }



}