*, body{
    margin: 0;
    padding: 0;
}

body {
    height: 150vh;
    color: #ffffff;
    background: linear-gradient(#303030, #121212);
    background-size: cover;
  }
  
  
  /* liens dans la nav */
  .nav-link,
  .nav-link:focus,
  .nav-link:hover {
    font-size: 1.5rem;
    color: black;
  
  }
  
.nav-link:hover {
    text-decoration: underline;
  
  }

.card {
    background-color: #363636;
}

.card-body {
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #28b513;
    border-radius: 8px;
  }

.btn-primary {
    outline: none;
    box-shadow: none;
 }
  
  
  /* Bouton */
  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    background-color: #fff;
  }